#navcol-1 {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #9e0000;
}

#nlp-logo {
  margin-right: 60px;
}

#maroon-top {
  margin-top: 90px;
}

#homepage {
  width: 100%;
  height: 110vh;
}

#welcome {
  margin-left: 30px;
  margin-top: 5px;
}

@media (min-width: 1200px) {
  #welcome {
    margin-left: 120px;
    margin-top: 5px;
  }
}

@media (min-width: 576px) {
  #nlp-body {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 300px) {
  #nlp-team {
    color: #000000;
    font-family: Montserrat, sans-serif;
    margin-top: 10px;
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  #nlp-team {
    color: #000000;
    font-family: Montserrat, sans-serif;
    margin-top: 15px;
    font-size: 24px;
  }
}

#paragraph-1 {
  margin-top: 20px;
}

@media (min-width: 300px) {
  #pup-bldg {
    width: 300px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 576px) {
  #pup-bldg {
    width: 500px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  #pup-bldg {
    width: 650px;
    height: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  #pup-bldg {
    width: 900px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#paragraph-2 {
  margin-top: 20px;
}

#publications {
  width: 100%;
  height: 110vh;
}

@media (min-width: 300px) {
  #pub-header {
    margin-left: 30px;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  #pub-header {
    margin-left: 120px;
    margin-top: 5px;
  }
}

#search-container {
  margin-top: 120px;
}

#title {
  margin-top: -100px;
}

#title-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#author {
  margin-top: 5px;
}

#author-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#year {
  margin-top: 5px;
}

#select-year {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

#search-button {
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 30px;
}

#upload-container {
  margin-top: 35px;
}

#results-panel {
  margin-top: 40px;
}

#year-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#result-t1 {
  text-indent: 5px;
}

#result-t2 {
  text-indent: 5px;
}

#result-t3 {
  text-indent: 5px;
}

#result-rp1 {
  text-indent: 5px;
}

#result-rp2 {
  text-indent: 5px;
}

#result-rp3 {
  text-indent: 5px;
}

#tab-1 {
  margin-left: 10px;
}
#line-separator3 {
  margin-top: -10px;
}

#prof-title {
  margin-top: 10px;
}

#line-separator1 {
  margin-top: -20px;
}

#prof-img {
  width: 80px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  #prof-img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#prof-name {
  margin-top: 10px;
}

#prof-position {
  margin-top: -5px;
}

#prof-affiliate {
  margin-top: -5px;
}

#line-separator2 {
  margin-top: -20px;
}

#pylon-top {
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pylon-img {
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#email {
  margin-top: 10px;
}

@media (min-width: 768px) {
  #email {
    margin-top: 20%;
  }
}

#email-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#password {
  margin-top: 5px;
}

#password-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#login-button {
  margin-top: 5px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#create-header {
  margin-top: 10px;
}

#fn-input {
  width: 100%;
}

#mn-input {
  width: 100%;
}

#surname-input {
  width: 100%;
}

#street1 {
  margin-top: 5px;
}

#s1-input {
  width: 80%;
}

#s2-input {
  width: 80%;
}

#city-input {
  width: 75%;
}

#statep-input {
  width: 75%;
}

#country-input {
  width: 75%;
}

#zip-input {
  width: 75%;
}

#emailadd-input {
  width: 36.5%;
}

#new-password {
  width: 75%;
}

#retype-password {
  width: 75%;
}

#create-button {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#small-create-acc {
  margin-top: 10px;
}

#create-button2 {
  margin-top: 15px;
}

#nlp-ribbon {
  margin-top: 10px;
}

#footer-images {
  margin-top: 5px;
  margin-bottom: 10px;
}

#pup-logo {
  margin-right: 15px;
}

#ccis-logo {
  margin-right: 15px;
}

#all-rights {
  margin-top: 15px;
}